﻿@model NBAStatesWebApp.Models.Tables
@{
    ViewData["Title"] = "Admin Edit Page";
}
<h2>@ViewData["Title"]</h2>

<p>Select the table you would like to edit</p>

<form asp-action="Index" asp-controller="Admin" method="post">
    <label >Table Name</label/>
    <select asp-for="TableName"asp-items = "Model.TableNames"></select> 
    <input type="submit" value="Edit" />

</form> 
