@model NBAStatesWebApp.Models.League

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>League</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Conf" class="control-label"></label>
                <input asp-for="Conf" class="form-control" />
                <span asp-validation-for="Conf" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TeamAbbr" />
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamAbbr" class="control-label"></label>
                <input asp-for="TeamAbbr" class="form-control" readonly />
                <span asp-validation-for="TeamAbbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
