@model IEnumerable<NBAStatesWebApp.Models.League>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamAbbr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamAbbr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamAbbr">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamAbbr">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamAbbr">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
