@model NBAStatesWebApp.Models.TeamRoster

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TeamRoster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerNo" class="control-label"></label>
                <input asp-for="PlayerNo" class="form-control" />
                <span asp-validation-for="PlayerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamAbb" class="control-label"></label>
                <input asp-for="TeamAbb" class="form-control" />
                <span asp-validation-for="TeamAbb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mit" class="control-label"></label>
                <input asp-for="Mit" class="form-control" />
                <span asp-validation-for="Mit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
