@model NBAStatesWebApp.Models.TeamRoster

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TeamRoster</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TeamAbb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamAbb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerNo" />
        <input type="hidden" asp-for="TeamAbb" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
