@model NBAStatesWebApp.Models.TeamRoster

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamRoster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamAbb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamAbb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { TeamAbb = Model.TeamAbb, PlayerNo= Model.PlayerNo  }) |
    <a asp-action="Index">Back to List</a>
</div>
