@model IEnumerable<NBAStatesWebApp.Models.TeamRoster>

@{
    ViewData["Title"] = "Team Roster Table";
}

<h2>Team Roster Table</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamAbb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamAbb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { TeamAbb = item.TeamAbb, PlayerNo= item.PlayerNo  }) |
                @Html.ActionLink("Details", "Details", new { TeamAbb = item.TeamAbb, PlayerNo= item.PlayerNo  }) |
                @Html.ActionLink("Delete", "Delete", new { TeamAbb = item.TeamAbb, PlayerNo= item.PlayerNo  })
            </td>
        </tr>
}
    </tbody>
</table>
