@model NBAStatesWebApp.Models.PlayerStats

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlayerStats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamAbbr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamAbbr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rpg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rpg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fgp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fgp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ftp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ftp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bpg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bpg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TeamAbbr" />
        <input type="hidden" asp-for="PlayerNum" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
