@model NBAStatesWebApp.Models.PlayerStats


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerStats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamAbbr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamAbbr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rpg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rpg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fgp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fgp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ftp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ftp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bpg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bpg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gp)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { TeamAbbr = Model.TeamAbbr, PlayerNum= Model.PlayerNum }) |
    <a asp-action="Index">Back to List</a>
</div>
