@model NBAStatesWebApp.Models.PlayerStats

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PlayerStats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="TeamAbbr" class="control-label"></label>
            <input asp-for="TeamAbbr" class="form-control" readonly />
            <label asp-for="PlayerNum" class="control-label"></label>
            <input asp-for="PlayerNum" class="form-control" readonly/>
            <div class="form-group">
                <label asp-for="Pos" class="control-label"></label>
                <input asp-for="Pos" class="form-control" />
                <span asp-validation-for="Pos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppg" class="control-label"></label>
                <input asp-for="Ppg" class="form-control" />
                <span asp-validation-for="Ppg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apg" class="control-label"></label>
                <input asp-for="Apg" class="form-control" />
                <span asp-validation-for="Apg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rpg" class="control-label"></label>
                <input asp-for="Rpg" class="form-control" />
                <span asp-validation-for="Rpg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fgp" class="control-label"></label>
                <input asp-for="Fgp" class="form-control" />
                <span asp-validation-for="Fgp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tpp" class="control-label"></label>
                <input asp-for="Tpp" class="form-control" />
                <span asp-validation-for="Tpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ftp" class="control-label"></label>
                <input asp-for="Ftp" class="form-control" />
                <span asp-validation-for="Ftp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spg" class="control-label"></label>
                <input asp-for="Spg" class="form-control" />
                <span asp-validation-for="Spg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bpg" class="control-label"></label>
                <input asp-for="Bpg" class="form-control" />
                <span asp-validation-for="Bpg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gp" class="control-label"></label>
                <input asp-for="Gp" class="form-control" />
                <span asp-validation-for="Gp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
