@model IEnumerable<NBAStatesWebApp.Models.PlayerStats>

@{
    ViewData["Title"] = "Player Stats Table";
}

<h2>Player Stats Table</h2>

<p>
    <a asp-action="Create">Create New Player</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamAbbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ppg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rpg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fgp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tpp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ftp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bpg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamAbbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ppg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rpg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fgp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tpp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ftp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bpg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gp)
            </td>
            <td>                                
                @Html.ActionLink("Edit", "Edit", new { TeamAbbr = item.TeamAbbr, PlayerNum= item.PlayerNum }) |
                @Html.ActionLink("Details", "Details", new { TeamAbbr = item.TeamAbbr, PlayerNum= item.PlayerNum }) |
                @Html.ActionLink("Delete", "Delete", new { TeamAbbr = item.TeamAbbr, PlayerNum= item.PlayerNum })
            </td>
        </tr>
}
    </tbody>
</table>
