@model NBAStatesWebApp.Models.Teams

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeadCoach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeadCoach)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeamAbbr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
